{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 85vh;">
    <div class="row w-100 justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-5-strong hover-shadow bg-dark text-white rounded-4 text-center">
                <div class="card-body p-5">
                    <div class="mb-4">
                        <i class="fas fa-check-circle fa-3x text-success"></i>
                    </div>
                    <h3 class="fw-bold mb-3 text-uppercase">Success !</h3>
                    <p class="text-muted mb-4">
                        Your password has been successfully changed. Your account is secure and up to date.
                    </p>
                    <a href="{% url 'login' %}" class="btn btn-success btn-lg btn-rounded w-100" data-mdb-ripple-init>
                        Log in now
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
